[submodule "AirDC"]
	path = AirDC
	url = git@github.com:iamkroot/airdcpp-ext.git
[submodule "gform"]
	path = gform
	url = git@github.com:iamkroot/gform-filler.git
[submodule "js-userscripts"]
	path = js-userscripts
	url = git@github.com:iamkroot/js-userscripts.git
[submodule "bill-split"]
	path = bill-split
	url = https://github.com/iamkroot/bill-split
